<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand" href="http://jcadle.com/development/" target="_self">
      <img src="/assets/Logo_dark_grey_dev.gif" width="94" height="50" alt="">
    </a>
    <!-- <button 
      class="navbar-toggler" 
      type="button" 
      data-toggle="collapse" 
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">Button</span>
    </button> -->

    <div 
      class="collapse navbar-collapse navbarSupportedContent">
      <!-- id="navbarSupportedContent" -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a 
            class="nav-link" 
            href="http://jcadle.com/development/" 
            target="_self">
            Home 
          </a>
        </li>
        <li class="nav-item">
          <a 
            class="nav-link selected" 
            href="#">
            Angular 
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>
          <!-- <span 
            dropdown 
            (onShown)="onShown()" 
            (onHidden)="onHidden()" 
            (isOpenChange)="isOpenChange()">
            <a 
              href 
              id="basic-link" 
              dropdownToggle 
              (click)="false"
              aria-controls="basic-link-dropdown">
              jaime@coficiency.com
            </a>
            <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="basic-link">
              <li *ngFor="let choice of items">
                <a class="dropdown-item" href="#">{{choice}}</a>
              </li>
            </ul>
          </span> -->
        </li>
      </ul>
    </div>
    <ng-template #showLogin>
      <span class="navbarSupportedContent">
        <a class="login" 
          (click)="smModal.show(); formFresh()">
          Login
        </a>
      </span>
    </ng-template>
    <span 
    *ngIf="afAuth.user | async as user; else showLogin"
    dropdown 
    container="body">
    <a 
      href 
      id="basic-link" 
      dropdownToggle 
      (click)="false"
      aria-controls="basic-link-dropdown">
      {{ user.email }}
    </a>
    <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="basic-link">
      <li *ngFor="let choice of items">
        <a class="dropdown-item" href="#" (click)="logout()">{{choice}}</a>
      </li>
    </ul>
  </span>
  </div>
</nav>
 
<div 
  bsModal 
  #smModal="bs-modal" 
  class="modal fade" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="dialog-sizes-name2">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="text-center">Login</h2>

        <form (submit)="login(); smModal.hide()">
          <div class="form-group">
            <label for="email">Email</label>
            <input 
              type="email" 
              class="form-control"
              [(ngModel)]="email"
              name="email"
              required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input 
              type="password" 
              class="form-control"
              [(ngModel)]="password"
              name="password"
              required>
          </div>
          <input 
            type="submit" 
            class="btn btn-primary btn-block" 
            value="Submit">
        </form>

      </div>
    </div>
  </div>
</div>