.navbar {
  height: 60px;
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1PX;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.26);
}
.navbarSupportedContent a {
  color: #4c5454;
  padding: 17px;
  cursor: pointer;
}
.navbarSupportedContent a:hover {
  color: #2e84c0;
}
.navbarSupportedContent a.selected {
  color: #2e84c0;
}
.gitHubIcon {
  color: #000;
}
.dropdown-menu {
  z-index: 1021;
}
label, .modal-body h2 {
  color: #000;
}