<app-navbar></app-navbar>
<div class="app">
	<div class="container">
		<div class="py-5">
			<div class="row  text-center">
				<div class="col-6">
					<h1>Applications</h1>
				</div>
				<div class="col-6">
					<!-- <button 
						type="button"
						class="btn btn-success btn-lg"
						(click)="showChildModal()"> -->
						<!--(click)="staticModal.show()"-->
						<!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
						<!-- Add App
					</button> -->
					<app-modal></app-modal>
				</div>
			</div>
		</div>
	</div>
</div>
