.text-headline {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-top: 10px;
  text-transform: uppercase;
}
p {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  margin: 15px 0;
}
.btn { /*should be reviewed for relevance*/
	/* display: flex; */
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 27px;
	padding: 0 12px;
	font-size: 14px;
	font-weight: 700;
	line-height: 28px;
	background-color: #fff;
	border-radius: 48px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.50);
	box-sizing: border-box;
	cursor: pointer;
	color: #1976d2;
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	letter-spacing: .3px;
	text-transform: uppercase;
	margin: .3rem;
}
.btn:hover {
	background-color: rgba(255, 255, 255, 0.863);
	color: rgb(129, 128, 128);
}
.gitHubIcon:hover {
  opacity: 0.863;
  filter: alpha(opacity=86); /* For IE8 and earlier */
}
.appImg {
  box-shadow: 0 3px 7px 0 rgba(0,0,0,.50);
}
