<button 
  type="button" 
  class="btn btn-primary" 
  (click)="isModalShown = true; freshForm(); canDelete = false"><!--showModal() staticModal.show()-->
  Add App
</button>


<!-- <div class="container">
  <form #appForm="ngForm">
  
  </form>    
</div> -->


<!-- (onHidden)="onHidden()"" -->
<div 
  *ngIf="isModalShown"
  (onHidden)="isModalShown = false"
  class="modal fade" 
  bsModal  
  #staticModal="bs-modal" 
  [config]="{backdrop: 'static', show: true}"
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      
      <form 
        [formGroup]="appForm"
        (ngSubmit)="submitForm()"><!-- (td) #appForm="ngForm" -->
        <div class="modal-body">
        <!-- <div class="modal-header"> -->

          <div class="row">

            <div class="col-6">
              <div class="form-group">
                <label for="title" class="sr-only">Title</label>
                <input 
                  type="text" 
                  class="form-control"
                  required
                  formControlName="title"
                  placeholder="App Title"><!--(td) id="title" [(ngModel)]="currentApp.title" name="title"
                    #name="ngModel"-->
                <!-- <div 
                  [hidden]="title.valid || title.pristine"
                  class="alert alert-danger">
                  Title is required
                </div> -->
              </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                  <label for="appUrl" class="sr-only">App URL</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    required
                    formControlName="appUrl"
                    placeholder="App URL">
                  <!-- <div 
                    [hidden]="appUrl.valid || appUrl.pristine"
                    class="alert alert-danger">
                    App URL is required
                  </div> -->
                </div>
              </div>

          </div>


          <div class="row">

            <div id="sectionRadio" class="col-6">
              <div  class="form-group"><!--*ngIf="!editing"-->
                <label for="newSection" class="newSection mr-3">New Section?</label>
                
                
                <!-- <div class="btn-group" btnRadioGroup formControlName="radio">
                  <label btnRadio="A" class="btn btn-primary"
                         tabindex="0" role="button">A</label>
                  <label btnRadio="B" class="btn btn-primary"
                         tabindex="0" role="button">B</label>
                  <label btnRadio="C" class="btn btn-primary"
                         tabindex="0" role="button">C</label>
                </div> -->
                
                
                <mat-radio-group 
                  required
                  [(ngModel)]="newSection" 
                  (change)="newSectionChange()"
                  [ngModelOptions]="{standalone: true}"><!--[(ngModel)]="newSection"--> 
                  <!--[(ngModel)]="yourCrust"  class="radio_Group"
                    (change)="sizeCrustChange($event)"-->
                  <mat-radio-button 
                    class="px-3"  
                    [value]="true" 
                    labelPosition="before">Yes</mat-radio-button><!--[value]="crust"-->
                  <mat-radio-button 
                    class="px-3" 
                    [value]="false" 
                    labelPosition="before">No</mat-radio-button>
                </mat-radio-group><!--; appForm.value['position']=null-->


              </div>
            </div>
  
            <div class="col-6">
                <div class="form-group">
                  <label for="imgUrl" class="sr-only">Image URL</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    formControlName="imgUrl"
                    placeholder="Image URL">
                    <!--required-->
                  <!-- <div 
                    [hidden]="imgUrl.valid || imgUrl.pristine"
                    class="alert alert-danger">
                    ImageUrl is required
                  </div> -->
                </div>
              </div>

            </div>

            <div class="row">

              <div id="positionLabel" class="col-4">
                <div  class="form-group"><!--*ngIf="!editing"-->
                  <label for="position" class="placement mr-2">Display Position</label>
                  
                  <select 
                    class="form-control placement" 
                    id="position"
                    formControlName="position"
                    (change)="positionChanged = true"><!--(change)="positionChanged = true"-->
                    
                    <option style="display:none"></option>

                    <option 
                      *ngFor="let position of positions">
                      {{ position }}
                    </option>
                  </select>

                </div>
              </div>

              <div class="col-6 offset-2">
                <div class="form-group">
                  <label for="gitHubUrl" class="sr-only">GitHub URL</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    formControlName="gitHubUrl"
                    placeholder="GitHub URL">
                    <!--required-->
                  <!-- <div 
                    [hidden]="imgUrl.valid || imgUrl.pristine"
                    class="alert alert-danger">
                    ImageUrl is required
                  </div> -->
                </div>
              </div>

            </div>







            <div class="form-group">
              <label 
                for="description" 
                class="sr-only">
                Description
              </label><!-- Note: "decs-area" = Description Text Area-->
              <textarea 
                id="description"
                rows="6"
                class="form-control"
                formControlName="description"
                placeholder="App Description"></textarea><!-- required formControlName="description"   [(ngModel)]="app.description"
                  name="description"
                  #description="ngModel" 
                formControlName="description"-->
            </div>



            <div class="buttons">
              <!-- <button 
                type="button" 
                class="close pull-right" 
                aria-label="Close" 
                (click)="staticModal.hide()">
                <span aria-hidden="true">&times;</span>
              </button> -->
              <!-- </div> header-->
              <!-- <div class="modal-body"> -->
              <button 
                type="button" 
                class="btn btn-primary"
                (click)="staticModal.hide(); freshForm()">
                Cancel
              </button>
              <button 
                type="submit" 
                class="btn btn-primary"
                (click)="staticModal.hide()"
                value="Submit"
                [disabled]="appForm.invalid"><!--(click)="submitForm()"-->
                Save
              </button>
              <p 
                *ngIf="canDelete"
                class="delete" 
                (click)="submitForm(true); staticModal.hide(); modalShow = false"><!--; modalShow = false
                  *ngIf="canDelete"   
                  (click)="submitForm(true)"  data-dismiss="modal"-->
                Delete
              </p>
            </div>
          </div>


        </form>


      </div>
    </div>
  </div>




<!-- <div 
  class="modal fade" 
  bsModal #childModal="bs-modal" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="dialog-nested-name2"
  [config]="{backdrop: 'static'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-nested-name2" class="modal-title pull-left">Second modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="childModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This is second modal <br> -->
        <!-- <button type="button" class="btn btn-primary" (click)="thirdModal.show()">Open third modal</button> -->
      <!-- </div>
    </div>
  </div>
</div> -->