/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

/* body {
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
} */
.mat-radio-button.mat-accent .mat-radio-inner-circle {
	background-color: rgb(67, 148, 241);
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgb(67, 148, 241);
}
mat-radio-button:not(.mat-radio-checked) .mat-radio-outer-circle {
  border: 2px solid;
  border-color: #B0BEC5;/* rgba(67, 148, 241, 0.596); */
}
.mat-radio-button {
  font-family: inherit;
}